PySide6
selenium
beautifulsoup4
requests
jsbeautifier
cloudscraper
termcolor
colorlog
phply
scapy
pyopenssl
certauth
httpx
brotli
zstandard
wappalyzer
pymongo
cryptography
telethon
colorama
certifi
docker
